*{
    margin: 0;
    padding: 0;
}
.i-main{
   margin: auto;
   margin-top: 20px;
   border-radius: 20px;
    font-family: 'Fira Code', monospace;
    height: 500px;
    width: 500px;
    background-color: #ecf0f3;
    border-radius: 30px;
    box-shadow:  10px 10px 15px #cbced1,
     -10px -10px 15px white;
    color: #f1356d;

}

img{
    
    height: 270px;
    width: 450px;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 10px;
}

.i-text{
    font-family: 'Fira Code', monospace;
}

.i-text-class{
    margin-left: 80px;
    margin-top: 30px;
}